<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
    <!-- Article detail -->
    <h2 class="border-bottom py-2" th:text="${article.title}"></h2>
    <div class="card my-3">
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:text="${article.content}"></div>
            <div class="d-flex justify-content-end">
                <div class="badge bg-light text-dark p-2 text-start">
                    <div th:text="${#temporals.format(article.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
        </div>
    </div>
    <a th:href="@{/article/create}" class="btn btn-primary">New Article 1</a>
    <button type="button"
            class="btn btn-success"
            th:onclick="|location.href='@{/article/create}'|">
        <i class="fas fa-check"></i> New Article 2
    </button>
    <button class="btn btn-primary" onclick="history.go(-1)"><i class="fas fa-download"></i>Article List</button>
    <button class="btn btn-danger" onclick="alert('Not yet')"><i class="fas fa-trash"></i> Delete</button>
</div>
</html>